<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Web!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" integrity="sha256-5+W3JHnvGYIJkVxUBsw+jBi9+pOlu9enPX3vZapXj5M=" crossorigin="anonymous">
  </head>

  <body>
    <div class="ui container">
      <div class="ui large menu">
        <a class="item" href="<%= page_path(@conn, :index) %>">
          Yayaka Reference
        </a>
        <div class="right menu">
          <% user = get_user(@conn) %>
          <% yayaka_user = get_yayaka_user(@conn) %>
          <%= if user do %>
            <div class="ui dropdown item">
              <%= if yayaka_user do %>
                <div class="text"><%= yayaka_user.id %>@<%= yayaka_user.host %></div>
              <% else %>
                <div class="text"><%= user.name %></div>
              <% end %>
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" href="<%= yayaka_user_path(@conn, :index) %>">Yayaka API</a>
                <%= for link <- get_user_links(user) do %>
                  <% host = link.user.host %>
                  <% id = link.user.id %>
                  <a class="item" href="<%= session_path(@conn, :switch, host: host, id: id) %>">
                    <%= "#{id} @ #{host}" %>
                  </a>
                <% end %>
                <a class="item" href="<%= session_path(@conn, :delete) %>">Sign out</a>
              </div>
            </div>
          <% else %>
            <a class="item" href="<%= page_path(@conn, :login) %>">Sign in</a>
            <a class="item" href="<%= user_path(@conn, :new) %>">Sign up</a>
          <% end %>
        </div>
      </div>

      <pre class="ui message" role="alert"><%= get_flash(@conn, :info) %></pre>
      <pre class="ui message" role="alert"><%= get_flash(@conn, :error) %></pre>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>

      <main role="main" class="ui basic segment">
        <div class="ui container">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </main>

    </div>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js" integrity="sha256-97Q90i72uoJfYtVnO2lQcLjbjBySZjLHx50DYhCBuJo=" crossorigin="anonymous"></script>
    <script>
      $('.ui.dropdown').dropdown();
    </script>
  </body>
</html>
